.header {
    height: 85vh;
    position: relative;
    padding: 30px 50px 0 50px;
    background: linear-gradient(302deg, rgb(238, 224, 201) 30%, rgb(202, 242, 241) 57%);
}

.nav-top {
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.logo-link {
    flex-basis: 33%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
        width: 80px;
    }
}
.social-media {
    flex-basis: 33%;
    width: 45px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .ig-icon {
        width: 15px;
        height: 15px;
        background-image: url('../img/ig-icon.png');
        background-size: cover;
        margin-right: 10px;
    }
    .fb-icon {
        width: 15px;
        height: 15px;
        background-image: url('../img/fb-icon.png');
        background-size: cover;
    }
}
.select-lang {
    flex-basis: 33%;
    width: 36px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    a {
        font-family:"ff-good-headline-web-pro-ext";
        color: #333d3c;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1.8px;
        font-weight: 600;
        padding-left: 3px; 
    }
}
.header-content {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    z-index: 2;
    position: relative;
}
.sub-title {
    // width: 252px;
    // height: 17px;
    color: #333d3c;
    font-family:"ff-good-headline-web-pro-ext";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.title {
    // width: 567px;
    // height: 55px;
    color: #333d3c;
    font-family:"ff-good-headline-web-pro-ext";
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 2vh;
}
.work-link {
    color: #ffffff;
    font-family:"ff-good-headline-web-pro-ext";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border: 2px solid #ffffff;
    padding: 5px 15px;
    z-index: 2;
}
.box {
    position: relative;
    bottom: 20vh;
    z-index: 1;
    img {
        height: 80vh;
        margin: 0 auto;
    }
}
.box-shadow {
    position: relative;
    bottom: 50vh;
    left: -7vh;

    z-index: -1;
    opacity: 0.6;
    img {
        height: 45vh;
        margin: 0 auto;
    }
}
