@import "hamburger";
@import "header";
@import "about";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.grid-parent {
    background: linear-gradient(90deg, rgba(202,242,241,1) 69%, rgba(238,224,201,1) 89%);
    position: relative;
}
