.unpack {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    &-title {
        .title();
        font-size: 60px;
        font-weight: 600;
        letter-spacing: 24px;
        letter-spacing: 28.8px;
        sup {
            color: @text-color;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            position: relative;
            top: -18px;
        }
    }
    .descr {
        width: 501px;
        color: @text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 130px;
    }
}
.block {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 100px;
    &-title {
        height: 20px;
        .title();
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2.4px;
        position: relative;
        margin-bottom: 20px;
        order: 1;
        &::before {
            content: "";
            width: 45px;
            height: 1px;
            background-color: #333d3c;
            position: absolute;
            top: 5vh;
        }
    }
    img {
        width: auto;
        position: absolute;
    }
    p {
        width: 240px;
        color: @text-color;
        font-family: 'sofia-pro';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.07px;
        order: 3;
    }
}
.comfort {
    margin-left: 7vw;
    img {
        right: 450px;
        animation: fly 4s ease-in-out infinite; 
    }
}
.safe {
    margin-left: 25vw;
    img {
        left: 282px;
        bottom: -15px; 
        z-index: 2;  
        animation: bounce 4s ease-in-out infinite;     
    }
    p {
        width: 263px;
    }
}
.appreciation {
    margin-right: 8vw;
    img {
        right: 450px;
        animation: skew 4s ease-in-out infinite; 
    }
}
.counting {
    margin-left: 59vw;
    img {
        width: 200px;
        right: 450px;
        animation: blur 4s ease-in-out infinite; 
    }
    p {
        width: 237px;
    }
}
.enthusiasm {
    margin-left: 5vw;
    img {
        width: 300px;
        right: 450px;
        bottom: -90px;
        animation: fly 4s ease-in-out infinite; 
        }
}
.success {
    width: 300px;
    margin-left: 70vw;
    img {
        width: 250px;
        right: 250px;
        top: 50px; 
        animation: bounce 4s ease-in-out infinite;       
    }
    p {
        width: 263px;
    }
}
.bubbles-and-balls {
    img {
        position: absolute;
        &.one {
            width: 2%;
            top: 21%;
            left: 31%;
            animation: bounce 4s ease-in-out infinite;
        }
        &.two {
            width: 5%;
            top: 30%;
            left: 13%;
            filter: blur(2px);
            transform: rotate(65deg);
        }
        &.three {
            width: 7%;
            top: 19%;
            right: 8%;
            filter: blur(6px);
            transform: rotate(-33deg);
            animation: bounce 4s ease-in-out infinite; 
        }
        &.four {
            width: 3%;
            top: 22%;
            right: 8%;
            transform: rotate(59deg);
            animation: blur 4s ease-in infinite;
        }
        &.five {
            width: 3%;
            top: 44%;
            left: 21%;
            animation: bounce 4s ease-in-out infinite;
        }
        &.six {
            width: 2%;
            top: 37%;
            right: 5%;
        }
        &.seven {
            width: 18%;
            top: 40%;
            right: 21%;
            z-index: 1;
            animation: bounce 4s ease-in-out infinite;
        }
        &.eight {
            width: 2%;
            top: 47%;
            right: 23%;
            animation: bounce 4s ease-in-out infinite; 
        }
        &.nine {
            width: 15%;
            top: 47%;
            right: 1%;
            transform: rotate(105deg) scale(1, -1);
            animation: blur 4s ease-in infinite;
        }
        &.ten {
            width: 15%;
            top: 58%;
            left: -4%;
            opacity: 0.8;
            filter: blur(6px);
            transform: rotate(105deg) scale(1, -1);
            animation: bounce 4s ease-in-out infinite; 
        }
        &.eleven {
            width: 1%;
            top: 63%;
            left: 15%;
            opacity: 0.8;
            filter: blur(1px);
            animation: bounce 4s ease-in-out infinite;
        }
        &.twelve {
            width: 2%;
            top: 65%;
            left: 20%;
            animation: skew 4s ease-in-out infinite; 
        }
        &.thirteen {
            width: 1%;
            top: 74%;
            right: 20%;
            animation: bounce 4s ease-in-out infinite; 
        }
        &.fourteen {
            width: 5%;
            top: 96%;
            left: 17%;
            opacity: 0.8;
            filter: blur(1px);
            animation: bounce 4s ease-in-out infinite; 
        }
        &.fifteen {
            width: 4%;
            top: 97%;
            left: 16%;
            opacity: 0.8;
            filter: blur(1px);
            animation: fly 4s ease-in-out infinite; 
        }
        &.sixteen {
            width: 5%;
            top: 68%;
            right: 25%;
            opacity: 0.8;
            filter: blur(3px);
            transform: rotate(90deg);
            animation: fly 4s ease-in-out infinite; 
        }
        &.seventeen {
            width: 3%;
            top: 75%;
            right: 15%;
            opacity: 0.8;
            filter: blur(1px);
            // transform: rotate(90deg);
            animation: skew 4s ease-in-out infinite; 
        }
    }
}


@media screen and (max-width: 450px) {
    .unpack {
        padding: 0;
        &-title {
            font-size: 44px;
            text-align: center;
            letter-spacing: 20px;
            sup {
                top: 0;
            }
        }
        .descr {
            width: 300px;
            margin-bottom: 75px;
        }
    }
    .block {
        width: auto;
        &-title {
            &::before {
                top: 150%;
            }
        }
        p {
            width: 240px;
        }
    }
    .comfort {
    margin-left: 0;
    img {
        right: 154px;
        top: -37px;
        width: 25vh;
        }
    }
    .safe {
        margin-left: 0;
        img {
            left: 77%;
            bottom: 118px;
            width: 14vh;      
        }
    }
    .appreciation {
        margin-right: 0;
        img {
            right: 132px;
            width: 10vh;
            top: -68px;
        }
    }
    .counting {
        margin-left: 0;
        img {
            width: 18vh;
            right: 50px;
            top: -75px;
        }
    }
    .enthusiasm {
        margin-left: 0;
        img {
            width: 28vh;
            right: -3vh;
            bottom: 88px;
        }
    }
    .success {
        margin-left: 0;
        img {
            width: 22vh;
            right: 50px;
            top: -80px;       
        }
    }
    .nine {
        right: -3%;
    }
    .bubbles-and-balls {
        img {
            position: absolute;
            &.one {
                width: 6%;
                top: 17%;
            }
            &.two {
                width: 9%;
            }
            &.three {
                width: 18%;
                filter: blur(3px);
            }
            &.four {
                width: 6%;
                top: 21%;
                right: 12%;
            }
            &.five {
                width: 6%;
                top: 43%;
                left: 7%;
            }
            &.six {
                width: 6%;
            }
            &.seven {
                width: 25%;
                top: 34%;
                right: 15%;
                transform: rotate(17deg);
            }
            &.eight {
                width: 7%;
                top: 45%;
            }
            &.nine {
                width: 15%;
                top: 49%;
                right: 0%;
                z-index: 1;
            }
            &.twelve {
                width: 4%;
                top: 69%;
            }
            &.eleven {
                width: 3%;
                top: 62%;
                left: 57%;
            }
            &.thirteen {
                width: 4%;
                top: 86%;
                right: 8%;
            }
            &.fourteen {
                width: 11%;
                top: 97%;
            }
            &.fifteen {
                width: 7%;
                top: 98%;
            }
            &.sixteen {
                top: 67%;
                right: 18%;
            }
            &.seventeen {
                width: 9%;
                top: 83%;
            }
        }
    }
}

